<div class="event__about-content">
    <div class="event__about-content--wrap">
        <h3 class="h1 event__about-content-title">{{ module.title }}</h3>
        <div class="fs-20 event__about-content-sub">{{ module.subtitle }}</div>
        <div class="event__about-content-vid">
            {% if module.embed_field.oembed_url or module.embed_field.embed_html or module.hubspot_video.player_id != null %}
                {% if module.video_type == "embed" %}
                    {% if module.embed_field.source_type == "oembed" %}
                    <div class="oembed_container {% if module.embed_field.size_type == 'auto_full_width' %}oembed_container--full-size{% endif %}" id="oembed_container-{{ name }}">

                        {% if module.oembed_thumbnail.src %}
                        <button class="oembed_custom-thumbnail" style="background-image:url({{module.oembed_thumbnail.src}})">
                            <span class="oembed-info">Video player - {{ module.oembed_thumbnail.alt }} - Click to play video</span>
                            <div class="oembed_custom-thumbnail_icon">
                                <svg width="100%" viewBox="0 0 120 120" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="60" cy="60" r="60" fill="url(#paint0_linear_99_5714)"/>
                                    <path d="M79 60.5L47 79L47 42L79 60.5Z" fill="#0A0A0A"/>
                                    <defs>
                                    <linearGradient id="paint0_linear_99_5714" x1="120" y1="40.5" x2="0" y2="40.5" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#67DB65"/>
                                    <stop offset="0.526042" stop-color="#6BD2B1"/>
                                    <stop offset="1" stop-color="#58B7D7"/>
                                    </linearGradient>
                                    </defs>
                                </svg>
                            </div>
                        </button>
                        {% endif %}

                        {% set oembedResponse = module.embed_field.oembed_response %}
                        {% set isVideo = module.embed_field.oembed_url %}
                        {% set isSupportedOEmbedType = module.embed_field.supported_oembed_types.index(module.embed_field.oembed_response.type) >= 0 %}

                        {% if isVideo and isSupportedOEmbedType %}
                        <div class="iframe_wrapper"
                            data-embed-response-html="{{ oembedResponse.html|escape }}"
                            data-embed-response-width="{{ oembedResponse.width }}"
                            data-embed-response-height="{{ oembedResponse.height }}"
                            data-embed-url="{{ module.embed_field.oembed_url }}"
                            {% unless module.embed_field.size_type == "auto_full_width" or module.embed_field.size_type == "exact" %}
                                data-max-height="{% if module.embed_field.size_type == "auto_custom_max" %}{{ module.embed_field.max_height }}{% endif %}"
                                data-max-width="{% if module.embed_field.size_type == "auto_custom_max" %}{{ module.embed_field.max_width }}{% endif %}"
                            {% endunless %}
                            {% if module.embed_field.size_type == "exact" %}
                                data-height="{{ module.embed_field.height }}"
                                data-width="{{ module.embed_field.width }}"
                            {% endif %}
                            >
                        </div>
                        {% endif %}

                    </div>
                    {% else %}
                    <div id="embed_container" class="embed_container">
                        <div class="iframe_wrapper">
                        {{ module.embed_field.embed_html }}
                        </div>
                    </div>
                    {% endif %}
                {% else %}
                    {% if module.hubspot_video.player_id %}
                    {% set max_width = module.hubspot_video.size_type == 'auto_custom_max' ? module.hubspot_video.max_width : module.hubspot_video.width %}
                    {% set max_height = module.hubspot_video.size_type == 'auto_custom_max' ? module.hubspot_video.max_height : module.hubspot_video.height %}
                    {% video_player "embed_player"
                        autoplay={{ module.hubspot_video.autoplay }},
                        conversion_asset={{ module.hubspot_video.conversion_asset|tojson|safe }},
                        full_width={{ module.hubspot_video.size_type == 'auto_full_width' }},
                        height={{ max_height }},
                        hidden_controls={{ module.hubspot_video.hide_controls }},
                        embed_button=True
                        loop={{ module.hubspot_video.loop_video }},
                        muted={{ module.hubspot_video.mute_by_default }},
                        play_button_color={{ module.style_options.oembed_thumbnail_play_button_color.color }},
                        player_id={{ module.hubspot_video.player_id }},
                        type={{ module.hubspot_video.player_type or 'scriptV4' }},
                        width={{ max_width }}
                    %}
                    {% endif %}
                {% endif %}
            {% else %}
                <div class="hs-video-placeholder">
                    <div class="hs-video-placeholder__inner">
                        <p class="fs-20">{{ module.placeholder_fields.placeholder_title }}</p>
                        <p class="fs-20">{{ module.placeholder_fields.placeholder_description }}</p>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="event__about-content-trustedby">
            <div class="fs-20 event__about-content-trustedby-txt">Trusted by</div>
            <div class="event__about-content-trustedby-brand-listing">
                {% for brand in module.trust_by.brand %}
                    <div class="event__about-content-trustedby-brand-logo">
                        <img src="img-default" src="{{ brand.brand_logo.src }}" alt="{{ brand.brand_logo.alt }}">
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
